:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}
body{
    background-color: var(--body-bg-color);
}
img{
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
    
}
.foto{
    width: 150px;
    border: 2px solid rgb(94, 255, 0);
    border-radius: 90px;
    margin-right: 10px;
}
a{
    color: #837E9F;
    text-decoration: none;
    
}



/* Sside-bar */
.side{
    width: 35vw;
    height: 100vh;
    background-color: var(--body-bg-color);
    padding: 5px;
    
    
}

.side-div1{
    text-align: center;
    color: var(--text-color);
    width:30vw;
    height: 32vh;
    border: 2px solid --bg-cards;
    border-radius: 25px;
    background-color:var(--bg-cards);
    margin: 20px;
}

.side-div2{
    
    color: var(--text-color);
    width:30vw;
    height: 35vh;
    border: 2px solid --bg-cards;
    border-radius: 25px;
    background-color:var(--bg-cards);
    margin: 20px;
}

.side-div3{
    width:30vw;
    height: 23vh;
    text-align: center;
    margin:20px 0px 5px 20px;
    border: 2px solid --bg-cards;
    border-radius: 25px;
    background-color:var(--bg-cards);

}
 button{
    background-color: var(--bg-techs);
    border: 2px solid black;
    border-radius: 10px;
    color: var(--text-color);
    padding: 5px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}